html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('../zdj/main-background.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(40%);
  z-index: -1;
}

.okno-rejestracji {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background-image: url('../zdj/main-background.jpg');
  background-size: cover;
  background-position: center;
  border: 2px solid red;
  border-radius: 10px;
  z-index: 1;
  box-sizing: border-box;
}

.okno-tytul {
  text-align: center;
  color: red;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.okno-rejestracji input,
.okno-rejestracji button {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 1rem;
}

input[type="password"],
input[type="text"],
input[type="email"] {
  background-color: #333;
  color: white;
  border: 2px solid darkred;
  padding: 10px;
  transition: all 0.3s ease;
  outline: none;
}

input:focus {
  border-color: red;
  box-shadow: 0 0 10px red;
}

button {
  background-color: red;
  border: none;
  color: black;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: darkred;
  color: white;
}

.zamknij {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: red;
  color: black;
  border: none;
  padding: 0 10px;
  border-radius: 5px;
  line-height: 1.2;
  transition: background-color 0.3s ease;
}

.zamknij:hover {
  background-color: darkred;
  color: white;
}
